@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

body {
  margin: 0;
  height: 100vh;
  background: black;
  overflow-x: hidden;
}

.stars {
  width: 100%;
  min-height: 100%;
  background: radial-gradient(circle at center, #000010 0%, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  filter: drop-shadow(0 0 2px white); /* glow effect */
  animation: twinkle infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@theme {
  --color-secondary: #172030;
  --color-background: #0b1018;
  --color-muted: #5f738e;
  --color-highlight: #a5d1ff;
  --color-blueBg: #1a2135;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(18, 38, 40, 1);
  border-radius: 10px;
}
